@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body{
	font-family: "Spectral", serif;
}

.preview{
	// background: #ECECEC; 
}

.preview.texte{
	background: #ECECEC; 
	color: #000;
	padding: 50px 7% 100px 7%;
}

.preview.texte .image-wrapper{
	// position: relative;
	margin-top: 0px;
	margin-bottom: 80px;

}

.preview.texte p{
	font-size: 1.2rem;
}

.preview.texte h1{
	font-size: 3.5rem;

}

.preview.texte h2{
	font-size: 2.2rem;

}

.preview.texte h3{
	font-size: 1.8rem;
	text-decoration: underline;
}

.preview.texte h4{
	font-size: 1.8rem;
	font-weight: normal;
}

.preview.texte h5{
	font-size: 1.4rem;
	font-weight: normal;
}

.preview.texte h6{
	font-size: 1rem;
	font-weight: normal;
}

.preview.texte a{
	color: blue; 
}

.preview.texte ul{
	font-size: 1.2rem; 
}

.preview.texte ul li{
	margin-bottom: 10px;
}

.preview.texte ul li::before{
	content:"—";
	margin-right: 20px; 

}